.banner {
    margin-bottom: 40px;
    height: 65vh;
    
    background-image: url("../images/Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}
