html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    color: #494445;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    color: #494445;
}
